<div class="footer">
    <div class="footer-notes">
        <div class="social">
            <h3>Follow us on:</h3>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>

        <div class="newsletter">
            <h3>Subscribe for new deals:</h3>
            <input type="text" placeholder="Email address" name="mail" />
            <input type="submit" value="Subscribe" />
        </div>
    </div>
</div>
</body>

</html>