<%- include('partials/header') %>

<div class="main-content">
    <div class="login-form-container">

        <h1><%= title %></h1>

        <% if (error) { %>
            <div class="login-error-message">
                <%= error %>
            </div>
        <% } %>

        <form action="/login" method="POST">
            <label>
                Username:
                <input type="text" name="username" required />
            </label>

            <label>
                Password:
                <input type="password" name="password" required />
            </label>

            <button type="submit">Log In</button>
        </form>

    <p>New customer? <a href="/register">Start here.</a></p>

    </div>
</div>


<%- include('partials/footer') %>