<%- include('partials/header') %>

<div class="main-content">
    <div class="profile-container">
        <h1>Your Profile</h1>

        <div class="account-info">
            <h2>Account Information</h2>
            <p>Username: <%= user.username %></p>

            <a href="/login/logout">Log Out</a>
        </div>
    </div>
</div>


<%- include('partials/footer') %>